<header class="header_container bg_black theme_dark">
  <div class="header">
    <div class="row_fluid">
      <h1 class="site_title"><a href="/"><img src="/img/rubymotion-logo.png" width="25" height="25" class="vertic_middle logo_spac" alt="RubyMotion logo" /><span class="site_title_txt">{{ site.name }}</span></a></h1>
      <a href="#" id="mobile_menu" class="mobile_menu resp_m_only"><i class="tribartolod">&nbsp;</i></a>
      <ul class="menu">
      </ul>
    </div>
    <div class="submenu">
      <div class="row_fluid">
      </div>
    </div>
  </div>
</header>
