<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"/>

<title>RubyMotion Applied</title>

<meta property="og:title" content="{{ head_title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://rubymotion.com"/>
<meta property="og:image" content="/img/rubymotion-logo.png"/>

<meta name="description" content="{% if page.meta_descr %}{{ page.meta_descr }}{% else %}{{ site.descr }}{% endif %}"/>
{% if page.meta_keywords %}
  <meta name="keywords" content="{{ page.meta_keywords }}"/>
{% endif %}

<meta name="viewport" content="initial-scale=1, width=device-width" />

<!--[if lt IE 9]>
<script src="/javascripts/libs/html5shiv.min.js"></script>
<script src="/javascripts/libs/css3-mediaqueries.js"></script>
<![endif]-->

<link rel="stylesheet" href="/css/main.css" type="text/css"/>
<link rel="stylesheet" href="/css/lightbox.css" type="text/css"/>
<link rel="stylesheet" href="/css/applied.css" type="text/css"/>
